/*----------メイン画面背景設定----------*/
body {background-image: url("./image_back.jpg");}

.page label {
  display: list-item;  /* 縦に並べる */
  list-style-type: none;
  text-transform: uppercase;
  padding: 0.5em;
  background: #ccc;
}

/*------------アンケートの下地--------------*/
.cloth_survey{
  position: absolute;                /*絶対位置への配置*/
  margin: 10px 350px;
  width: 650px;
  height: 320px;
  bottom: 200px;
  padding: 50px;
  background: #ccffff;
  border-radius: 60px;
  display: inline-block              /*横幅を自動で変更*/
} 
.cloth_survey p {
  margin: 20; 
  padding: 20;
}

/*----------次へボタン-----------*/
button.man_next_button {
  position: absolute;                /*絶対位置への配置*/
  right: 250px;                      /*ボタン位置を左から-432pxずらす*/
  top: 461px;                        /*ボタン位置を上から461pxずらす*/
  width: 250px;                      /*横サイズを250pxに指定*/
  height: 100px;                     /*縦サイズを100pxに指定*/
  font-size: 1.4em;                  /*文字サイズを1.4emに指定*/
  font-weight: bold;                 /*文字の太さをboldに指定*/
  padding: 10px 30px;                /*縦方向に10px、横方向に30pxの余白を指定*/
  background-color: #248;          /*景色を濃い青色に指定*/
  color: #fff;                     /*文字色を白色に指定*/
  border-style: none;                /*ボーダーをなくす*/
  border-radius: 0.5em;              /*角丸*/
}
button.man_next_button:hover {
  background-color: #24d;          /*背景色を明るい青色に指定*/
  color: #fff;                     /*文字色を白色に指定*/
}
/*--------全部チェックボタン--------*/
.all_check{
  position: absolute;                /*絶対位置への配置*/
  right: 550px;                      /*ボタン位置を左から-432pxずらす*/
  top: 461px;                        /*ボタン位置を上から461pxずらす*/
  width: 220px;                      /*横サイズを250pxに指定*/
  height: 50px;                      /*縦サイズを100pxに指定*/
  font-size: 1.4em;                  /*文字サイズを1.4emに指定*/
  font-weight: bold;                 /*文字の太さをboldに指定*/
  padding: 10px 30px;                /*縦方向に10px、横方向に30pxの余白を指定*/
  background-color: #248;          /*景色を濃い青色に指定*/
  color: #fff;                     /*文字色を白色に指定*/
  border-style: none;                /*ボーダーをなくす*/
  border-radius: 0.5em;              /*角丸*/
}
.all_check:hover{
  background-color: #24d;          /*背景色を明るい青色に指定*/
  color: #fff;                     /*文字色を白色に指定*/
}
/*---------チェック外すボタン---------*/
.nonall_check{
  position: absolute;                /*絶対位置への配置*/
  right: 550px;                      /*ボタン位置を左から-432pxずらす*/
  top: 525px;                        /*ボタン位置を上から461pxずらす*/
  width: 220px;                      /*横サイズを250pxに指定*/
  height: 50px;                      /*縦サイズを100pxに指定*/
  font-size: 1.4em;                  /*文字サイズを1.4emに指定*/
  font-weight: bold;                 /*文字の太さをboldに指定*/
  padding: 10px 30px;                /*縦方向に10px、横方向に30pxの余白を指定*/
  background-color: #248;          /*景色を濃い青色に指定*/
  color: #fff;                     /*文字色を白色に指定*/
  border-style: none;                /*ボーダーをなくす*/
  border-radius: 0.5em;              /*角丸*/
}
.nonall_check:hover{
  background-color: #24d;          /*背景色を明るい青色に指定*/
  color: #fff;                     /*文字色を白色に指定*/
}

/* 横幅が広いとき */
@media (min-width: 640px) {
  .page label {
    display: inline-block;  /* 横に並べる */
  }
}